/* .recommended-title{
 padding: 30px;
 width: 100%;
 text-align: center;
}
.r-wrap h3{
    padding: 20px;
    
}
.recommended-flex Button{
    border: 1px solid rgb(83, 3, 83);
    background-color: white;
    color: rgb(83, 3, 83);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
.recommended-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 500px;

} */
.recommended-flex {
    display: flex;
    margin-left: 20rem;
  }
  .recommended-flex Button{
    border: 1px solid rgb(83, 3, 83);
    background-color: white;
    color: rgb(83, 3, 83);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}
  .recommended-title {
    margin-left: 20rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 20px;
  }
/* @media screen and (max-width:780px){
  .recommended-title{
    margin-left: 40%;
    margin-top: 50px;
  }
  .recommended-flex{
    margin-left: 14%;
  }
  .recommended-flex Button{
   
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 10px;
    font-weight: 700;
    margin-top:25px ;
}
} */
@media screen and (max-width:800px){
  .recommended-title{
    margin-left: 30%;
    margin-top: 50px;
  }
  .recommended-flex{
    margin-left: 5%;
  }
  .recommended-flex Button{
   
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    font-size: 10px;
    font-weight: 700;
    margin-top:25px ;
}
}