.fo-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fo-social{
    display: flex;
    justify-content: space-around;
    width: 800px;
    padding: 60px;
    
}
.fo-social span{
    color: #115453;
}
.fo-grid div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 15px;
}
.fo-grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 40px;
    width: 100%;
    padding: 50px;
    
   

}
.fo-grid div span{
    padding: 5px;
}
.fo-wrapper{
    background-image: linear-gradient(45deg,#5ef09dc4 0%,#ce7ff3 100%);
}
@media screen and (max-width:800px){
    .fo-wrapper{
       width: 100%;
    }
    .fo-social{
        display: flex;
        justify-content: space-around;
        width: 320px;
        padding: 60px;
        
    }
    .fo-grid {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
        width: 100%;
        padding: 10px;
      
        
       
    
    }
    .fo-grid div span{
        font-size: 10px;
    }
    .fo-grid div h3{
        font-size: 10px;
    }
}