.hero{
    background-color: rgba(0,0,0,0);
    color: white;
    width: 100%;
    height: 80vh;
    position: relative;
}
.hero:before{
    content: '';
    background: url('../Assets/super-straho-5BMPrXBFTI8-unsplash.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    max-width: 500px;
    
    padding: 1rem;
}
.content h1{
    font-family: 'Dancing Script', cursive;
}
.content h1,.content p{
    padding: 10px;
}
.search{
    background-color: #fff;
    display: flex;
    width:400px ;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    margin-top: 30px;


}
.search div input{
    border: none;
}
.search div label{
    color: black;
}
/* .radio{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
} */
.search button{
    background-image: linear-gradient(45deg,#51e591c4 0%,#115453 100%);
    border: 1px solid #115453;
    color: #fff;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .content{
       background-color: rgba(0, 0, 0, 0.492);
       width: 500px;
    }
    .hero{
        background-color: rgba(0,0,0,0);
    color: white;
    width: 100%;
    height: 80vh;
    position: relative;
    }
    .content{
        width: 100%;
    }
    .hero{
        background-color: rgba(0,0,0,0);
        color: white;
        width: 100%;
        height: 80vh;
        position: relative;
    }
    .search div input{
        border: none;
       
    }
    .search{
        width: 90%;
    }
    .hero:before{
        content: '';
        background: url('../Assets/super-straho-5BMPrXBFTI8-unsplash.jpg') no-repeat center center/cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
   
}
/* @media screen and (max-width:320px){
    .search-text{
        width: 100%;
    }
    .content{
       background-color: rgba(0, 0, 0, 0.492);
       width: 100%;
    }
    .search {
        width: 290px;
        margin-left: 20px;
    }
    .search div input{
        width: 200px;
    }
    .content h1{
        text-align: left;
    }
} */